img{
    width: 100%;
height:100%;
 }
 .book{
    display: inline-block;
    width: 25%; 
 }
 .menu{
     background-color: lemonchiffon;
     width: 20%;
     height: 100%;
     padding: 2px;
     position: fixed;
 }
 .menu a{
     color: lightcoral;
     display: block;
     text-decoration: none;
 }
 body {
     margin: 0;
 } 
 .content {
     width: 70%;
     margin-left: 24%;
     padding: 3%;
 }